@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    margin: 0px;
    text-transform: uppercase;
    user-select: none;
}
button{
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
}

.body{
    background-image: url(../assets/banner.png);
    background-repeat: no-repeat;
    background-color: rgb(246, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title{
    color: red;
    font-size: 5em;
    margin: 57px;
    text-shadow: 2px 2px black;
    font-weight: 700;
}

.header__button button{
    width: 20vw;
    min-width: 140px;
    height: 60px;
    font-size: 1.5em;
}


.garage,
.winners{
    display: none;
    flex-direction: column;
    align-items: center;

}


.active{
    
    display: flex;
}

.btn_active{
    background-color: #cc0000;
}

.garage__control div{
    display: flex;
}

.garage__main_title{
    margin: 20px 30px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
}

.car-wrapper div{
    display: flex;
}

.select,
.remove{
    height: 30px;
    width: auto;
}

.trace{
    width: 80vw;
    border-bottom: 6px dashed black;
}

.icon{
    margin-bottom: -121px;
    margin-left: -137px;
    z-index: 0;
}

.finish img{
    width: 50px;    
}

button:active{
    background-color: #cc0000;
}

.car-name{
    margin-left: 5vw;
    color: red;
    text-shadow: 1px 0px black;
}

.garage__main{
    height: 1200px;
}
.garage__main_pagination{
    display: flex;
    margin: 0 0 30px 23px;
    align-items: center;
    gap: 10px;
}

.wrapper{
    height: 955.15px;
    overflow: hidden;
}

.animated{
    animation-name: car-drive;
    animation-duration: 5s;
    /* animation-fill-mode: forwards; */
}

@keyframes car-drive{

    from{
        margin-left: 0px;
    }
    to{
        margin-left: 71vw;
    }
}

.modal-winner{
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 40vh;
    border: 5px dashed black;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    background-image: url(../assets/winner.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    z-index: 5;
    display: none;
}

    .modal-winner__close{
        width: 60px;
        height: 60px;
        border-radius: 10px;
        position: absolute;
        right: 0;
        border: 2px solid black;
        font-size: 3em;
        display: flex;
        justify-content: center;
        align-items: center;    
    }

    .modal-winner__title{
        font-size: 3em;
        margin: 10px;
        color: red;
    }

    .modal-winner__body h2{

        font-size: 2em;
        margin: 50px;
    }


    .cover{
        background-color: rgba(0, 0, 0, 0.877);
        position: absolute;
        width: 100vw;
        height: 1481.15px;
        z-index: 3;
        top: 0;
        left: 0;
        display: none;
    }

    .table{
        width: 60vw;
        margin-top: 5vh;
    }

    .winners__title{

        margin: 20px;
        font-size: 2em;
    }
    
    .page_winners{
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .img{
        width: 500px;
        margin-left: calc(30vw - 250px);
        margin-top: 100px;
    }

    .header-table{
        background-color: rgba(240, 240, 92, 0.952);
    }

    .row{
        text-align: center;
    }

    
    .time-up{
        display: flex;
       
    }

    
    #time img,
    #wins img{
        width: 15px;
        height: 15px;
        margin-top: 5px;
        margin-right: 10px;
        display: none;
        position: absolute;
        right: 0;
        top: 0; 
    }

    #time,
    #wins{
        justify-content: center;
        align-items: center;
        position: relative;
    }